.weather-card-wrapper {
    position: relative;
    top: 300px;
    width: 90vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.weather-card {
    position: relative;
    width: 275px;
    height: 250px;
    background-color: rgb(35, 35, 214);
    border-radius: 1rem;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather-card img {
    position: relative;
    width: 140px;
    height: auto;
    filter: drop-shadow(0px 0px 4px #c2c2c2);
}

.wi-fw {
    width: 4em;
}

.day {
    position: relative;
    top: 5px;
}

.date {
    position: relative;
}

.temperature {
    position: absolute;
    bottom: 5px;
    color: #dbdbdb;
}