.weather-card-wrapper {
    position: relative;
    top: 300px;
    width: 90vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.weather-card {
    width: 275px;
    height: 250px;
    background-color: rgb(35, 35, 214);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather-card i {
    position: absolute;
    top: 100px;
    
}

.wi-fw {
    width: 4em;
}

.day {
    position: relative;
    top: 5px;
}

.date {
    position: relative;
}

.temperature {
    position: absolute;
    bottom: 5px;
    color: #dbdbdb;
}