.weather {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #282c34;
}

.weather-section {
    width: 950px;
    height: 125px;
    background-color: rgba(81, 32, 216, 0.3);
    padding: 0px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.weather-section img {
    opacity: 1;
}

.weather-section-left {
    width: 27%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 4.5rem;
}

.weather-section-right {
    text-align: right;
    display: flex;
    align-items: center;
}