.weather {
    position: relative;
    max-width: 100vw;
    max-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: transparent;
}

.toggle {
    position: fixed;
    top: 50px;
    left: 50px;
}

.toggle button {
    width: 60px;
    height: 45px;
    border: solid 1px black;
    font-size: 1.3rem;
    cursor: pointer;
    transition: all 0.4s;
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

button.celcius {
    border-radius: 0.7rem 0 0 0.7rem;
}

button.fahrenheit {
    border-radius: 0 0.7rem 0.7rem 0;
}

button.active {
    background-color: aqua;
}

button:active {
    background-color: aqua;
}

.searchbar-wrapper {
    top: 50px;
    width: 350px;
    position: fixed;
    left: 50vw;
    margin-left: -175px;
    transition: all 1s;
}

.searchbar-wrapper.expanded {
    top: -150px;
}

.weather .arrow {
    position: relative;
    width: 50px;
    height: 50px;
    top: 50px;
    transition: all 1s;
}

.weather .arrow.expanded {
    transform: rotate(180deg);
}

.img-container {
    width: 50px;
    height: 50px;
}

.city-name {
    position: relative;
    top: 0px;
    transition: all 1s;
}

.city-name.expanded {
    top: -140px;
}

.weather-section {
    position: relative;
    width: 950px;
    height: 125px;
    background-color: rgba(114, 114, 114, 0.35);
    border-radius: 8px;
    padding: 0px 10px;
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: all 1s;
}


.weather-section.expanded {
    height: 350px;
    margin-top: -150px;
    transition: all 1s;
}

.weather-section-left {
    display: flex;
    flex-direction: row;
    font-size: 4.5rem;
}

.weather-section-left img {
    position: relative;
    top: -8px;
    width: 140px;
    height: auto;
    align-self: baseline;
    filter: drop-shadow(0px 0px 7px #c2c2c2);
}

.weather-section-temperature {
    position: relative;
    top: 10px;
    transition: all 1s;
}

.weather-section-temperature.expanded {
    top: 0px;
    font-size: 6rem;
}

.weather-section-right {
    position: relative;
    top: 5px;
    text-align: right;
    transition: all 1s;
}

.weather-section-right.expanded {
    
}

.extra-right {
    opacity: 0;
    max-height: 0;
    transition: max-height 1s, opacity 0.5s;
}

.extra-right.expanded {
    opacity: 1;
    max-height: 100px;
    transition: max-height 1s, opacity 2s;
}